# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
# created-by: conda 25.5.1
pandas==2.0.3
matplotlib==3.7.5
seaborn==0.13.2
networkx==3.1
treelib==1.8.0
folium==0.14.0
numpy==1.24.4